BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never        # Use spaces, not actual tab characters
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
SpaceBeforeParens: ControlStatements
ColumnLimit: 100     # You can change this if you want
